.bg-oscuro{
    background-color: #6d6d71;
    color:aliceblue;
}
.menu{
    
}
.menu:hover{
    background-color: rgba(217, 222, 226, 0.815);
    border-left: 1px solid #6d6d71;
    border-right: 1px solid #6d6d71;
    margin-right: 2px;
}
.cuadradoMenu{
    color: #6d6d71;
    font-size: large;
}
.cuadradoMenu:hover{
    
    color: #939790;
    
}
.menuhorizonte{
    color: #6d6d71;
    padding-top: 3px;
    font-size: small;
    
}
.menuhorizonte:hover{
    
    color: #6d6d71;
    background-color: #939790;
    border-top: #6d6d71 5px;
}
.botonmenuhorizonte{
    background-color: #f7a811;
    border: 1px #f7a811 solid;
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
}
.botonmenuhorizonte:hover{
    background-color: #ffb72c;
    color: #6d6d71;
}
.columenu{
    
}
.body{
    
    display: grid;
    min-height: 90vh;
    grid-template-rows: 102% 1fr auto;
    
}
.desenfo{
    box-shadow: 0 0 10px 1px #bdc0b9;
  }