<div class="container-fluid">
    <div class="row">

        <div class="col-2 bg-light columenu">
            <div class="row">
                <div class="col-12 bg-oscuro text-center"><h6 class="mt-2">Kamaflash</h6></div>
                <div class="col-12 menu"><img src="../../../assets/img/ingresos.png" alt=""><i class="bi bi-arrow-up-circle-fill"></i>Ingresos</div>
                <div class="col-12 menu"><img src="../../../assets/img/gastos.png" alt="">Gastos</div>
                <div class="col-12 menu"><img src="../../../assets/img/ahorro.png" alt="">Ahorro</div>
                <div class="col-12"><hr></div>
                <div class="col-12"><h6>Acceso rápido</h6></div>
                <div class="col-12"><h6></h6></div>
                <div class="col-12"><h6><button type="button" class="btn btn-success"></button>
            Cocina</h6></div>
                <div class="col-12"><h6><button type="button" class="btn btn-success"></button> Salón</h6></div>
                <div class="col-12 d-flex align-items-end">...</div>
                
            </div>

        </div>
        <div class="col-10 ">

            <div class="row  mt-1 border-bottom text-center">
                <div class="col-2 mb-1 botonmenuhorizonte rounded text-center">Nuevo</div>
                <div class="col-2 mb-1 menuhorizonte rounded"><div class="dropdown">
                  <a class="btndropdown-toggle link-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Historial
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div></div>
                <div class="col-2 mb-1 menuhorizonte rounded"><a  routerLink="algo">filtros</a></div>
                <div class="col-2 mb-1 menuhorizonte rounded"><a  routerLink="consumo">proyectos</a></div>
                <div class="col-2"></div>
                <div class="col-2 "></div>
            </div>
            <div class="row  mt-1  text-center">
                <div class="col-12">
                    
                    <div class="text-start ms-3"><h3>Cuentas</h3></div>
                    
                </div>
                <div class="col-12 ">Despues</div>
            </div>

        </div>


    </div>
</div>