<div class="container-fluid  font text-secondary">
    
        
        <div class="row mt-2"><div class="col">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tablón</li>
                </ol>
              </nav></div></div>
        <div class="row pt-2 me-4">
            <div class="col-8 ">
                <div class="row ms-3">
                    <div class="col-3  ">
                                <a><div class="card border-0 mb-3 d-block w-100 difumi">
                                    <div class="row g-0">
                                      <div class="col-md-4">
                                        <img src="../../../assets/img/pexels-sheila-731217.png" class="img-fluid rounded-start" alt="...">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">A disfrutar!</h5>
                                          <p class="card-text"> Total: 700€</p>
                                          <p class="card-text"> Total: 700€</p>
                                         
                                          
                                        </div>
                                      </div>
                                    </div>
                                </div></a>
                                <div class="card border-0 mb-3 d-block w-100 difumi ">
                                  <div class="row g-0">
                                    <div class="col-md-4">
                                      <img src="../../../assets/img/pexels-taryn-elliott-4231477.png" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Gastos fijos</h5>
                                        
                                        <p class="card-text"><small class="text-muted">Mayor gasto: 1300€</small></p>
                                        <p class="card-text"> Total: 1300€</p>
                                    </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="card border-0 mb-3 d-block w-100 difumi">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img src="../../../assets/img/pexels-karolina-grabowska-5632388.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                      <h5 class="card-title">Gastos eventuales</h5>
                                      
                                      <p class="card-text">
                                      <small class="text">Mayor gasto: 1300€</small></p>
                                      <p class="card-text"> Total: 1300€</p>
                                  </div>
                                  </div>
                                </div>
                            </div> 
                      </div>
                              
                      <div class="col-9">
                        <div class="row">
                          <div class="col-12">
                            Proyectos
                          </div>
                          <div class="col-12">
                            El expresidente del Barça, Josep Maria Bartomeu, contactó con 'The Athletic' para desmentir que el nuevo contrato de Frenkie de Jong pudiera ser delicitivo, tal y como explica la información del medio de comunicación inglés en la que se hace eco de que el Barça pidió al holandés que anulara dicho contrato porque podría no ser legal. Bartomeu considera que el nuevo contrato que se pactó con De Jong para ampliarle su vinculación es totalmente legal y pasó todos los controles jurídicos tanto internos, como por parte de los auditores y de la misma Liga de Fútbol Profesional sin que nadie encontrara nada.

                        En concreto, el contrato firmado por el Barça y el futbolista en octubre del 2021 fue revisado por los servicios jurídicos del club y también por Compliance. Además fue estudiado por los auditores de la entidad E&Y pasando todos los filtros sin ningún tipo de problema. Asimismo, el contrato fue revisado por los servicios de control financieros de LaLiga y por sus servicios jurídicos y se inscribió al futbolista.
                        
                          </div>

                        </div>
                        </div>
                        
                    </div>
                    
                    
                   
                


                <div class="col-12 bg-primary body ">
                  El expresidente del Barça, Josep Maria Bartomeu, contactó con 'The Athletic' para desmentir que el nuevo contrato de Frenkie de Jong pudiera ser delicitivo, tal y como explica la información del medio de comunicación inglés en la que se hace eco de que el Barça pidió al holandés que anulara dicho contrato porque podría no ser legal. Bartomeu considera que el nuevo contrato que se pactó con De Jong para ampliarle su vinculación es totalmente legal y pasó todos los controles jurídicos tanto internos, como por parte de los auditores y de la misma Liga de Fútbol Profesional sin que nadie encontrara nada.

                  En concreto, el contrato firmado por el Barça y el futbolista en octubre del 2021 fue revisado por los servicios jurídicos del club y también por Compliance. Además fue estudiado por los auditores de la entidad E&Y pasando todos los filtros sin ningún tipo de problema. Asimismo, el contrato fue revisado por los servicios de control financieros de LaLiga y por sus servicios jurídicos y se inscribió al futbolista.
                    
                                            
                                        </div>
            </div>
            <div class="col-4">
                <div class="">
                    <div class="row desenfo rounded">
                        
                      <div class="row"><div class="col-12">Proyecto áctual</div></div>
                      <div class="row ">
                        <div class="col-1  ms-1 me-1"></div>
                        <div class="col-3 card bg-light ms-1 me-1 text-center menuhorizonte"><h5><i class="bi bi-piggy-bank-fill"></i></h5>Ingresos<h1>1350</h1></div>
                        <div class="col-3 card bg-light ms-1 me-1 text-center menuhorizonte"><h5><i class="bi bi-piggy-bank-fill"></i></h5>Gastos<h1>600</h1></div>
                        <div class="col-3 card bg-light ms-1 me-1 text-center menuhorizonte"><h5><i class="bi bi-piggy-bank-fill"></i></h5>Ahorro<h1>2000€</h1></div>
                        <div class="col-1 c ms-1 me-1"></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-2 c ms-1 me-1"></div>
                        <div class="col-4">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">Ingreso</option>
                                <option value="2">Gasto Fijo</option>
                          </select>
                          <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Fijo
                            </label>
                          </div>
                          <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Eventual
                            </label>
                          </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="€">
                            </div>
                        </div>
                        <div class="col-2 c ms-1 me-1"></div>
                      </div>
                      <div class="row">
                        <div class="col-12"><p class="text-center d-grid gap-2"><a href="#" class="btn btn-success">Añadir</a></p></div>
                        <div class="col-12"><p class="text-center d-grid gap-2"><a href="#" class="btn btn-secondary">Quitar registro</a></p></div>
                        
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        
            
</div>