.bg-green{
  background-color: #b8dc97;
}

.link-login{
  
}
.link-login:hover{
  background-color: #fbfbfb;
  
}
.alink{
  text-decoration: none;
}
.font{
  font-family: 'Times New Roman', Times, serif;
}