/* LINK */
.link-menu-login{
  color: #6d6d71;
  text-decoration: none;

}
.link-menu-login:hover{
  color: white;
  background-color: #6d6d71;
  text-decoration: none;
}
.link-login{
  background-image: "../assets/img/usuario2.png"
}
.link-login:hover{
background-image: "../assets/img/usuario.png"
}
